/*
    Julia Calkins
    Portfolio External Stylesheet
    Last modified: 29-Mar-2025
    Version 1.0 - Depreciated
*/

/* ----- General -----*/

body {
    background-color: #0D0D0D;
    color: #F5F5F5;
    margin-left: 9em;
    padding-left: 1em;
    padding-top: 0;
    margin-top:0;
    margin-right:0;
    font-family: Verdana, sans-serif;
}

h1, h2 {
    color: #B8B6FF;
    margin-left: 1.5%;
}

a {
    text-decoration: none;
    color:rgb(0, 255, 255);
}

a:hover {
    color: rgb(190, 255, 253);
}

/* ----- Sidebar Chunk ----- */
.sidebar {
    height: 100%;
    width: 10em;
    left: 0;
    top: 0;
    z-index: 2;
    position: fixed;
    overflow-x: visible;
    background-color: #1A1A1A;
    border-right: 0.01em solid black;
}

.sidebar img {
    width: 90%;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    display: block;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.sidebar a {
    display: block;
    padding: 1em 0em;
    text-align: center;
    font-size: 1.3em;
    border-top: 0.1em solid black;
    background-image: linear-gradient(to bottom left, #222222, #1A1A1A);
    width: 7.7em;
    transition: width 2s, border-top-right-radius 1s ease-out, border-bottom-right-radius 1s ease-out;
    position: relative;
}

#proj_tab {
    border-bottom: 0.1em solid black;
}

.sidebar a:hover {
    width: 12em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

#contact_button {
    background-color:#B8B6FF;
    width:80%;
    height: 7.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1em;
    padding: 1em;
    display: block;
    position: absolute;
    bottom: 1.2em;
    left: 1.2em;
    cursor: pointer;
    box-shadow: 0 0.5em rgb(118, 70, 129);
    border-radius: 0.5em;
}

#contact_button:hover {
    background-color: #9390ea;
}

#contact_button:active {
    background-color: #9390ea;
    box-shadow: 0 0.1em rgb(118, 70, 129);
    transform: translateY(0.3em);
}

/* ----- Bio Chunk -----*/

.about {
    background-image: linear-gradient(#333333, rgb(47, 47, 47));
    margin: 0;
    padding-top: 0;
    padding-right: 0;
}

.about h1 {
    font-size: 5em;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0.7em;
    font-family: Garamond, Verdana, sans-serif;
    margin-bottom: 0em;
    text-align: center;
}

.about hr {
    width: 60%;
    margin-left: auto;
    border: 0.2em dashed white;
}

.about p {
    padding-bottom: 1em;
    margin-left: 1.5%;
}

div.about {
    border-bottom: 0.3em solid rgb(118, 70, 129);
}


/* ----- Skills Styling Chunk -----*/

div.skills {
    border-bottom: 0.3em solid rgb(118, 70, 129);
    display: grid;
    grid-template-rows: 20% 20% auto auto;
    grid-template-columns: auto auto;
    justify-content: center;
}

div.skills h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-align: center;
}

div.skills h3 {
    grid-row: 2 / 3;
    padding-bottom: 0em;
}

div.skills ul {
    margin-top: 0em;
}

div.skills li {
    padding-bottom: 0.5em;
    padding-top: 0em;
}

.soft {
    margin-left: 3em;
}

.tech {
    margin-right: 3em;
}

/* ----- Projects Styling Chunk ----- */

.projects div {
    border-bottom: 0.15em dashed rgb(118, 70, 129);
    padding-bottom: 1.5em;
}

.projects div:last-child {
    border-bottom: 0em;
}

.pet_database {
    border-bottom: 0.15em solid rgb(118, 70, 129);
}

.projects p, .projects h3, .projects a {
    margin-left: 1.5%;
}

.projects h2 {
    font-size: 1.5em;
    font-weight: bold;
}

/* ----- Footer Styling Chunk ----- */

footer {
    border-top: 0.3em solid rgb(118, 70, 129);
}
footer p {
    margin-left: 1.5%;
}